
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .header-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .header-menu li {
    margin: 0 15px;
  }
  
  .header-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .header-menu li a:hover {
    color: #f4f4f4;
  }
  

.onsale {
    left: 10px;
    background-color: #35b219;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 5px;
    width: 50%;
}

.soldout {
    left: 10px;
    background-color: #df1f1f;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: 5px;
}



  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header, footer {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  /* Styling for the main content */
  main {
    padding: 20px;
  }

  .produktlistecontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.smallProduct:hover {
  transform: translateY(-5px);
  color: #35b219;
  background-color:aliceblue;
}

.smallProduct img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
  
  
.smallProduct {
    width: 30%;
    margin: 10px;
    background-color: white;
    border: 1px solid #242424;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
 }
  
  .smallProduct img {
    max-width: 100%;
  }
  
  
  .price span {
    text-decoration: line-through;
  }
  
  
  .onsale p {
    margin: 5px 0;
  }
  
  .read-more {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
  
  .read-more:hover {
    color: #666;
  }
  
  /* Responsive adjustments*/ 
  @media (max-width: 768px) {
    .smallProduct {
      width: 100%;
    }
  }
